In [1]:
import numpy as np

In [2]:
from pandas import Series, DataFrame

In [3]:
import pandas as pd

In [4]:
from pandas_datareader import data, wb

In [ ]:
all_data={}

In [ ]:
for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']:
    all_data[ticker] = data.get_data_yahoo(ticker, '1/1/2000', '1/1/2010')

In [ ]:
price = DataFrame({tic: data['Adj Close'] for tic, data in all_data.items()});
volume = DataFrame({tic: data['Volume'] for tic, data in all_data.items()})

In [ ]:
all_data['AAPL']

In [ ]:
price

In [ ]:
returns = price.pct_change()

In [ ]:
returns

In [ ]:
returns.corr()

In [ ]:
obj = Series(['a','c','c','d','c','d','b'])

In [ ]:
obj.unique()

In [ ]:
obj.value_counts()

In [ ]:
obj.isin(['b','c'])

In [ ]:
data = Series([1, np.nan, 3.5, np.nan, 7])

In [ ]:
data.dropna()

In [ ]:
data

In [ ]:
data[data.notnull()]

In [ ]:
df = DataFrame(np.random.randn(7, 3))

In [ ]:
df.iloc[:4, 1] = np.nan; df.iloc[:2, 2] = np.nan

In [ ]:
df.dropna()

In [ ]:
volume

In [ ]:
returns.corrwith(volume)

In [ ]:
df.dropna(thresh=2)

In [ ]:
df.fillna(0)

In [ ]:
data2 = Series([1., np.nan, 3.5, np.nan, 7])

In [ ]:
data2.fillna(data2.mean())

In [ ]:
data = Series(np.random.randn(10),
              index=[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'd'],
                     [1, 2, 3, 1, 2, 3, 1, 2, 2, 3]])

In [ ]:
data

In [ ]:
data.index

In [ ]:
data['b']

In [ ]:
data[:, 2]

In [ ]:
data.unstack()

In [ ]:
data.unstack().stack()

In [ ]:
frame = DataFrame(np.arange(12).reshape((4, 3)),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=[[' Ohio', 'Ohio', 'Colorado'],
                           ['Green', 'Red', 'Green']])

In [ ]:
frame.index.names = ['key1', 'key2']

In [ ]:
frame.columns.names = ['state', 'color']

In [ ]:
frame

In [ ]:
frame.reset_index()

In [ ]:
frame.reset_index().set_index(['key1', 'key2'])

In [ ]:
ser = Series(np.arange(3.))

In [ ]:
#ser[-1] # 整数索引的 pandas 只能按合法的索引值来索引

In [ ]:
sers2 = Series(np.arange(3.), index=['a', 'b', 'c'])

In [ ]:
sers2[-1]