In [1]:
obj = """
{"name": "Wes",
"places_ lived": ["United States", "Spain", "Germany"],
"pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
{"name": "Katie", "age": 33, "pet": "Cisco"}]
} """

In [2]:
import json

In [3]:
result = json.loads(obj)

In [4]:
result

{'name': 'Wes',
 'places_ lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 25, 'pet': 'Zuko'},
  {'name': 'Katie', 'age': 33, 'pet': 'Cisco'}]}

In [5]:
asjson = json.dumps(result)

In [6]:
asjson

'{"name": "Wes", "places_ lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}, {"name": "Katie", "age": 33, "pet": "Cisco"}]}'

In [8]:
from lxml.html import parse

In [10]:
from urllib.request import urlopen

In [11]:
parsed = parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))

In [12]:
doc = parsed.getroot()

In [13]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]

In [14]:
urls[-10:]

['http://yahoofinance.tumblr.com',
 '/',
 '/watchlists',
 '/portfolios',
 '/screener',
 '/calendar',
 '/industries',
 '/videos',
 '/personal-finance',
 '/tech']

In [15]:
tables = doc.findall('.//table')

In [16]:
calls = tables[0]

In [17]:
puts = tables[1]

In [18]:
from pandas.io.parsers import TextParser

In [19]:
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content() for val in elts]

In [20]:
def parse_options(table):
    rows = table.findall('.//tr')
    header = _unpack(rows[0], kind='th')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, names=header).get_chunk()

In [21]:
call_data = parse_options(calls)
put_data = parse_options(puts)

In [22]:
call_data[:10]

,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
0,AAPL190118C00002500,2019-01-10 12:02PM EST,2.5,150.30,149.25,150.05,0.0,-,2,281,"1,643.75%"
1,AAPL190118C00005000,2019-01-10 1:07PM EST,5.0,147.75,146.80,147.55,0.0,-,2,411,"1,300.00%"
2,AAPL190118C00007500,2019-01-10 3:30PM EST,7.5,145.75,144.30,145.05,0.0,-,3,208,"1,121.88%"
3,AAPL190118C00010000,2019-01-10 3:30PM EST,10.0,143.25,141.80,142.55,0.0,-,20,77,"1,001.56%"
4,AAPL190118C00012500,2019-01-10 3:30PM EST,12.5,140.75,139.30,140.05,0.0,-,10,135,912.50%
5,AAPL190118C00015000,2019-01-08 12:24PM EST,15.0,135.46,136.85,137.55,0.0,-,12,79,841.41%
6,AAPL190118C00017500,2018-12-13 10:11AM EST,17.5,154.45,134.30,135.05,0.0,-,71,107,782.81%
7,AAPL190118C00020000,2018-12-13 10:11AM EST,20.0,151.95,131.80,132.55,0.0,-,22,153,732.81%
8,AAPL190118C00022500,2018-12-03 10:51AM EST,22.5,159.45,129.30,130.05,0.0,-,3,98,689.84%
9,AAPL190118C00025000,2018-12-13 10:00AM EST,25.0,145.85,126.80,127.55,0.0,-,42,241,651.56%