In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2019, 9, 28, 10, 58, 49, 246873)

In [4]:
now.year, now.month, now.day

(2019, 9, 28)

In [5]:
delta = datetime(2019, 9, 19) - datetime(1979, 11,11, 8, 15)

In [6]:
delta

datetime.timedelta(days=14556, seconds=56700)

In [7]:
delta.days, delta.seconds

(14556, 56700)

In [8]:
from datetime import timedelta

In [9]:
start = datetime(2019, 9, 19)

In [10]:
start + timedelta(12)

datetime.datetime(2019, 10, 1, 0, 0)

In [11]:
start + timedelta(12) * 2

datetime.datetime(2019, 10, 13, 0, 0)

In [12]:
str(start)

'2019-09-19 00:00:00'

In [13]:
start.strftime('%Y %m %d') # f for format?

'2019 09 19'

In [14]:
value = '2019-09-18'

In [15]:
datetime.strptime(value, '%Y-%m-%d') # p for parse?

datetime.datetime(2019, 9, 18, 0, 0)

In [16]:
datestrs = ['7/6/2011', '8/6/2011']

In [17]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [18]:
from dateutil.parser import parse

In [19]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [20]:
parse('Jan 31, 1997 10:45 AM')

datetime.datetime(1997, 1, 31, 10, 45)

In [21]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [22]:
import pandas as pd

In [23]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [24]:
idx = pd.to_datetime(datestrs + [None])

In [25]:
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [26]:
pd.isnull(idx)

array([False, False,  True])

In [27]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [28]:
from pandas import Series, DataFrame

In [29]:
import numpy as np

In [30]:
ts = Series(np.random.randn(6), index=dates)

In [31]:
ts

2011-01-02   -1.129206
2011-01-05   -1.849599
2011-01-07   -0.349354
2011-01-08   -0.038742
2011-01-10   -0.750228
2011-01-12   -0.582014
dtype: float64

In [32]:
type(ts) # 不是什么 pandas.core.series.TimeSeries 嘛

pandas.core.series.Series

In [33]:
ts + ts[::2] # 自动按日期对齐

2011-01-02   -2.258411
2011-01-05         NaN
2011-01-07   -0.698709
2011-01-08         NaN
2011-01-10   -1.500456
2011-01-12         NaN
dtype: float64

In [34]:
ts.index.dtype

dtype('<M8[ns]')

In [35]:
stamp = ts.index[0]

In [36]:
stamp

Timestamp('2011-01-02 00:00:00')

In [37]:
ts['20110110'] # 只要参数能被解释为日期就行，可以哦

-0.7502277538915114

In [38]:
longer_ts = Series(np.random.randn(1000),
                  index=pd.date_range('1/1/2000', periods=1000))

In [39]:
longer_ts

2000-01-01    0.213859
2000-01-02   -0.164985
2000-01-03   -0.036331
2000-01-04    1.560303
2000-01-05    1.619241
                ...
2002-09-22   -1.044702
2002-09-23   -0.062050
2002-09-24    0.478329
2002-09-25    0.062802
2002-09-26    0.410651
Freq: D, Length: 1000, dtype: float64

In [40]:
longer_ts['2001'] # 过滤所有 2001 年的数据，真可以噢

2001-01-01    0.686210
2001-01-02    1.123800
2001-01-03    1.879851
2001-01-04    1.193549
2001-01-05    1.258360
                ...
2001-12-27   -1.753356
2001-12-28    1.073720
2001-12-29    1.411840
2001-12-30    0.257981
2001-12-31    1.505808
Freq: D, Length: 365, dtype: float64

In [41]:
ts

2011-01-02   -1.129206
2011-01-05   -1.849599
2011-01-07   -0.349354
2011-01-08   -0.038742
2011-01-10   -0.750228
2011-01-12   -0.582014
dtype: float64

In [42]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.349354
2011-01-08   -0.038742
2011-01-10   -0.750228
2011-01-12   -0.582014
dtype: float64

In [43]:
ts['1/6/2011':'1/11/2011'] # 注意切片产生的是视图

2011-01-07   -0.349354
2011-01-08   -0.038742
2011-01-10   -0.750228
dtype: float64

In [44]:
ts.truncate(after='1/9/2011')

2011-01-02   -1.129206
2011-01-05   -1.849599
2011-01-07   -0.349354
2011-01-08   -0.038742
dtype: float64

In [45]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED') # W for WEEK?

In [46]:
dates[:10]

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08'],
              dtype='datetime64[ns]', freq='W-WED')

In [47]:
long_df = DataFrame(np.random.randn(100, 4),
                   index=dates,
                   columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [48]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -1.064932 -1.481344 -0.376511 -0.608315
2001-05-09  0.826069  0.125071  0.516224  0.227085
2001-05-16 -0.309564 -0.504937 -0.730491  1.150059
2001-05-23 -2.316874 -0.223361 -0.144949  0.575900
2001-05-30  0.285390  1.480901  0.216616  0.874661

In [49]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])

In [50]:
dup_ts = Series(np.arange(5), index=dates)

In [51]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [52]:
dup_ts.index.is_unique

False

In [53]:
grouped = dup_ts.groupby(level=0)

In [54]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [55]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [56]:
ts

2011-01-02   -1.129206
2011-01-05   -1.849599
2011-01-07   -0.349354
2011-01-08   -0.038742
2011-01-10   -0.750228
2011-01-12   -0.582014
dtype: float64

In [57]:
resampler = ts.resample('D') # D for Day

In [64]:
resampler.mean() # 从 0.18.0 开始，resample 不再返回 DataFrame，而是更像 groupby

2011-01-02   -1.129206
2011-01-03         NaN
2011-01-04         NaN
2011-01-05   -1.849599
2011-01-06         NaN
2011-01-07   -0.349354
2011-01-08   -0.038742
2011-01-09         NaN
2011-01-10   -0.750228
2011-01-11         NaN
2011-01-12   -0.582014
Freq: D, dtype: float64

In [65]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [66]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [67]:
pd.date_range(start='2012-04-01', periods=20) # 正着来

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [68]:
pd.date_range(end='2012-06-01', periods=20) # 反着来

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [69]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM') # Business Month End

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [70]:
pd.date_range('2012-05-02 12:56:31', periods=5) # 时间会保留

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [71]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True) # 不想保留也行

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [72]:
from pandas.tseries.offsets import Hour, Minute

In [75]:
hour = Hour(4)

In [76]:
hour

In [77]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [78]:
Hour(2) + Minute(30)

In [79]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [80]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')# Week of Month

In [81]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [82]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M')) # Month End

In [83]:
ts

2000-01-31   -1.067510
2000-02-29   -1.381582
2000-03-31    0.668633
2000-04-30   -0.208136
Freq: M, dtype: float64

In [84]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.067510
2000-04-30   -1.381582
Freq: M, dtype: float64

In [85]:
ts.shift(-2)

2000-01-31    0.668633
2000-02-29   -0.208136
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [86]:
ts / ts.shift(1) - 1 # 常用语计算序列中的百分比变化

2000-01-31         NaN
2000-02-29    0.294210
2000-03-31   -1.483962
2000-04-30   -1.311285
Freq: M, dtype: float64

In [87]:
ts.shift(2, freq='M')

2000-03-31   -1.067510
2000-04-30   -1.381582
2000-05-31    0.668633
2000-06-30   -0.208136
Freq: M, dtype: float64

In [88]:
ts.shift(3, freq='D')

2000-02-03   -1.067510
2000-03-03   -1.381582
2000-04-03    0.668633
2000-05-03   -0.208136
dtype: float64

In [89]:
ts.shift(1, freq='90T') # T for Minutes

2000-01-31 01:30:00   -1.067510
2000-02-29 01:30:00   -1.381582
2000-03-31 01:30:00    0.668633
2000-04-30 01:30:00   -0.208136
Freq: M, dtype: float64

In [90]:
from pandas.tseries.offsets import Day, MonthEnd

In [91]:
now = datetime(2011, 11, 17)

In [92]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [93]:
now + MonthEnd() # 移动到符合频率的下一个日期，也就是最近的一个月底

Timestamp('2011-11-30 00:00:00')

In [94]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [95]:
offset = MonthEnd()

In [96]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [97]:
offset.rollback(now) # 向后滚动

Timestamp('2011-10-31 00:00:00')

In [98]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [99]:
ts

2000-01-15   -0.813056
2000-01-19    0.140805
2000-01-23   -0.983451
2000-01-27    0.623302
2000-01-31   -1.353255
2000-02-04   -0.422005
2000-02-08   -0.325003
2000-02-12    0.383660
2000-02-16   -2.516799
2000-02-20   -1.290892
2000-02-24   -0.413779
2000-02-28    0.468187
2000-03-03    0.729347
2000-03-07    1.182123
2000-03-11   -1.506691
2000-03-15   -0.089106
2000-03-19    1.266973
2000-03-23   -0.067599
2000-03-27    0.062035
2000-03-31    1.306837
Freq: 4D, dtype: float64

In [100]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.477131
2000-02-29   -0.588090
2000-03-31    0.360490
dtype: float64

In [101]:
ts.resample('M').mean()

2000-01-31   -0.477131
2000-02-29   -0.588090
2000-03-31    0.360490
Freq: M, dtype: float64